.page-nyheter {
  main {
    padding: 0em 0em;
  }

  .sourceLink {
    text-decoration: none;
    color: darken($map-blue, 20);
  }

  .text-center {
    .chart-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .chart {
        margin-top: 3em;
        height: 100%;
        width: 100%;
      }
    }
  }
}
