$font-sans-serif: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
  'Helvetica Neue', sans-serif;
$font-funny: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;
$font-serif: 'Georgia', Times, serif;
$font-default: $font-sans-serif;
