.world {
  background-color: $world;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  line-height: 18px;
  display: block;
  opacity: 1;
  white-space: nowrap;
}

.sweden {
  background-color: $sweden;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: block;
  opacity: 1;
  line-height: 18px;
  white-space: nowrap;
}
