.world {
  background-color: $world;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  line-height: 18px;
  display: block;
  opacity: 0.8;
  white-space: nowrap;
}

.sweden {
  background-color: $sweden;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  line-height: 18px;
  display: block;
  opacity: 0.8;
  white-space: nowrap;
}

.initiatives {
  background-color: $initiatives;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: block;
  opacity: 0.8;
  line-height: 18px;
  white-space: nowrap;
}
