.container {
  width: 100%;
  margin: 0 auto;
}

.container-content {
  max-width: 80em;
  padding: 0 0em;
}

.container-about {
  max-width: 50em;
  padding: 0 3em;

  a {
    color: darken($map-blue, 20);
    text-decoration: none;
  }
}
