.counterCard {
  text-align: center;
  line-height: 0px;
  padding: 1em 1em;
  max-width: 22em;
  margin-right: 0.5em;
  height: 20em;
  background-color: $white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  .header {
    float: left;
    align-items: center;
    position: relative;
    height: 4em;

    .bubble {
      align-self: center;
      height: 25px;
      width: 25px;
      position: absolute;
      top: 50%;
      transform: translateY(-80%);
    }

    p {
      font-size: 15px;
      margin-top: 16px;
      margin-left: 26px;
      letter-spacing: 1px;
      float: left;
      color: $light-black;
      text-transform: uppercase;
    }
  }

  .noDetailsCounter {
    margin-top: 90px;
    p {
      color: $grey-500;
    }
  }

  .noBubbleHeader {
    padding-left: 1em;
    padding-top: 0.5em;
    height: 4em;
    position: relative;
    text-transform: uppercase;
    text-align: left;

    .detailsTitle {
      p {
        padding: 0;
        margin: 0;
        line-height: 14px;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        color: $light-black;
      }
    }
    .detailsRegion {
      p {
        padding: 0;
        margin: 0;
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 1px;
        color: $light-black;
      }
    }
  }

  .confirmedNumberContainer {
    height: 100px;
    line-height: 0px;

    h1 {
      font-size: 80px;
    }
    h2 {
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 50px;
    }
  }

  .confirmedText {
    h3 {
      text-transform: uppercase;
      font-size: 16px;
    }
  }
  .updatedText {
    p {
      font-size: 11px;
      color: $light-black;
    }
  }
}

@media (max-width: 500px) {
  .counterCard {
    text-align: center;
    line-height: 0px;
    padding: 0.5em 0.5em;
    max-width: 22em;
    min-width: 150px;
    margin-right: 0.25em;
    margin-left: 0.25em;
    max-height: 14em;
    background-color: $white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    .header {
      float: left;
      align-items: center;
      position: relative;
      height: 4em;

      p {
        font-size: 15px;
        margin-top: 11px;
        margin-left: 26px;
        letter-spacing: 1px;
        float: left;
        color: $light-black;
        text-transform: uppercase;
      }
    }

    .noBubbleHeader {
      .detailsTitle {
        p {
          letter-spacing: 0px;
        }
      }
      .detailsRegion {
        p {
          letter-spacing: 0px;
        }
      }
    }

    .noDetailsCounter {
      margin-top: 60px;
      p {
        color: $grey-500;
      }
    }

    .confirmedNumberContainer {
      line-height: 0px;

      h1 {
        font-size: 55px;
      }
      h2 {
        font-size: 30px;
      }
    }

    .confirmedText {
      h3 {
        text-transform: uppercase;
        font-size: 10px;
      }
    }

    .updatedText {
      p {
        font-size: 8px;
      }
    }
  }
}

@media (max-height: 800px) {
  .counterCard {
    text-align: center;
    line-height: 0px;
    padding: 0.5em 0.5em;
    max-width: 22em;
    min-width: 150px;
    margin-right: 0.25em;
    margin-left: 0.25em;
    max-height: 14em;
    background-color: $white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    .header {
      float: left;
      align-items: center;
      position: relative;
      height: 4em;

      p {
        font-size: 15px;
        margin-top: 11px;
        margin-left: 26px;
        letter-spacing: 1px;
        float: left;
        color: $light-black;
        text-transform: uppercase;
      }
    }

    .noBubbleHeader {
      .detailsTitle {
        p {
          letter-spacing: 0px;
        }
      }
      .detailsRegion {
        p {
          letter-spacing: 0px;
        }
      }
    }

    .noDetailsCounter {
      margin-top: 60px;
      p {
        color: $grey-500;
      }
    }

    .confirmedNumberContainer {
      line-height: 0px;

      h1 {
        font-size: 55px;
      }
      h2 {
        font-size: 30px;
      }
    }

    .confirmedText {
      h3 {
        text-transform: uppercase;
        font-size: 10px;
      }
    }
    .updatedText {
      p {
        font-size: 8px;
      }
    }
  }
}
