.counterCard {
  text-align: center;
  line-height: 0px;
  padding: 1em 1em;
  max-width: 22em;
  min-width: 135px;
  margin-right: 0.5em;
  height: 20em;
  background-color: $white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  .header {
    padding-top: 0.5em;
    align-items: center;
    margin-left: 3px;
    line-height: 0;
    height: 3em;
    display: flex;

    .bubble {
      align-self: center;
      position: absolute;
    }

    p {
      position: absolute;
      margin-top: 0;
      font-size: 15px;
      margin-left: 26px;
      letter-spacing: 1px;
      float: left;
      color: $light-black;
      text-transform: uppercase;
    }
  }

  .noDetailsCounter {
    margin-top: 90px;
    p {
      color: $grey-500;
    }
  }

  .noBubbleHeader {
    padding-left: 0em;
    padding-top: 0.5em;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 3em;

    .detailsTitle {
      p {
        padding: 0;
        margin: 0;
        line-height: 18px;
        font-size: 16px;
        letter-spacing: 1px;
        color: $light-black;
      }
    }
    .detailsRegion {
      p {
        padding: 0;
        margin-top: 4px;
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 1px;
        color: $light-black;
      }
    }
  }

  .confirmedNumberContainer {
    height: 60px;
    line-height: 0px;
    h1 {
      font-size: 60px;
    }
    h2 {
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 45px;
    }
  }

  .confirmedText {
    h3 {
      text-transform: uppercase;
      font-size: 14px;
    }
  }
  .updatedText {
    p {
      justify-content: center;
      margin: 0 0 0 0;
      font-size: 8px;
      color: $light-black;
    }
  }
}

@media (max-width: 500px) {
  .counterCard {
    padding: 0.5em 0.5em;
    max-width: 25em;
    margin-right: 0.25em;
    margin-left: 0.25em;
    max-height: 15em;
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      height: 3em;

      p {
        font-size: 15px;
        float: left;
        text-transform: uppercase;
      }
    }

    .noBubbleHeader {
      display: flex;
      flex-direction: column;
      height: 3em;
      .detailsTitle {
        p {
          font-size: 14px;
          letter-spacing: 0px;
        }
      }
      .detailsRegion {
        p {
          font-size: 8px;
          letter-spacing: 0px;
        }
      }
    }

    .noDetailsCounter {
      margin-top: 60px;
      p {
        color: $grey-500;
      }
    }

    .confirmedNumberContainer {
      height: 40px;
      h1 {
        font-size: 55px;
      }
      h2 {
        font-size: 30px;
      }
    }

    .confirmedText {
      margin-bottom: 0px;

      h3 {
        text-transform: uppercase;
        font-size: 10px;
      }
    }

    .confirmedDeathsText {
      h3 {
        margin-top: 2px;
        text-transform: uppercase;
        font-size: 10px;
      }
    }

    .updatedText {
      p {
        font-size: 7px;
      }
    }
  }
}

@media (max-height: 800px) {
  .counterCard {
    text-align: center;
    line-height: 0px;
    padding: 0.5em 0.5em;
    max-width: 22em;
    margin-right: 0.25em;
    margin-left: 0.25em;
    max-height: 14em;
    background-color: $white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    .header {
      float: left;
      align-items: center;
      position: relative;
      height: 4em;

      p {
        font-size: 15px;
        margin-top: 11px;
        margin-left: 26px;
        letter-spacing: 1px;
        float: left;
        color: $light-black;
        text-transform: uppercase;
      }
    }

    .noBubbleHeader {
      .detailsTitle {
        p {
          letter-spacing: 0px;
        }
      }
      .detailsRegion {
        p {
          letter-spacing: 0px;
        }
      }
    }

    .noDetailsCounter {
      margin-top: 60px;
      p {
        color: $grey-500;
      }
    }

    .confirmedNumberContainer {
      line-height: 0px;

      h1 {
        font-size: 55px;
      }
      h2 {
        font-size: 30px;
      }
    }

    .confirmedText {
      h3 {
        text-transform: uppercase;
        font-size: 10px;
      }
    }
    .updatedText {
      p {
        font-size: 8px;
      }
    }
  }
}
