header {
  width: 100%;
  color: $black;
  background-color: $map-blue-darker;

  .container {
    display: flex;
    justify-content: space-between;
    height: 2.8em;
    line-height: 2.8em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    color: darken($map-blue, 20);
    text-decoration: none;
    padding: 0 0.5em;
  }

  .title {
    color: $white;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
  }

  @media (max-width: 505px) {
    /* your conditional / responsive CSS inside this condition */
    .title {
      color: $white;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  @media (max-width: 400px) {
    .title {
      color: $white;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .logo {
    height: 30px;
    width: 30px;
  }

  .navigationLink {
    background-color: $grey-50;
    margin-left: 0.5em;
  }

  p {
    margin: 0;
  }
}
