header {
  width: 100%;
  background-color: $accent;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  height: 2.2em;
  line-height: 2.1em;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    color: $accent;
    text-decoration: none;
  }

  .titleContainer {
    .title {
      .icon {
        position: relative;
        margin-left: 0.5em;
        top: 3px;
        left: 0px;
      }
    }

    a {
      color: $white;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
    }

    @media (max-width: 440px) {
      .title {
        font-size: 18px;
      }
    }
    @media (max-width: 400px) {
      .title {
        font-size: 14px;
      }
      .icon {
        margin-left: 0em;
        width: 0.5em;
      }
    }
    @media (max-width: 360px) {
      .title {
        font-size: 10px;
      }
      .icon {
        display: none;
      }
    }
  }

  .navigationLink {
    background-color: white;
    color: $accent;
    text-decoration: none;
    margin-right: 0.25em;
    border-radius: 2px;
    height: 30px;
    font-size: 12px;

    .icon {
      margin-bottom: 3px;
      width: 20px;
      height: 20px;
      margin-right: 0.2em;
    }

    @media (max-width: 520px) {
      .text {
        display: none;
      }
    }

    &:hover {
      background-color: $grey-300;
      box-shadow: 'none';
    }

    &:active {
      box-shadow: 'none';
      background-color: $grey-400;
    }

    .navigationlink:focus {
      box-shadow: '0 0 0 0.2rem rgba(0,123,255,.5)';
    }
  }
}
