header {
  width: 100%;
  color: $black;
  background-color: $map-blue-darker;

  .container {
    display: flex;
    justify-content: space-between;
    height: 2.8em;
    line-height: 2.7em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    color: darken($map-blue, 20);
    text-decoration: none;
  }
  p {
    margin: 0;
  }

  .titleContainer {
    .title {
      padding-top: 5px;
      padding-bottom: 5px;
      .icon {
        position: relative;
        margin-left: 0.5em;
        top: 3px;
        left: 0px;
      }
    }

    a {
      color: $white;
      font-size: 22px;
      font-weight: 500;
      text-transform: uppercase;
    }

    @media (max-width: 505px) {
      /* your conditional / responsive CSS inside this condition */
      .title {
        font-size: 20px;
      }
    }

    @media (max-width: 400px) {
      .title {
        font-size: 14px;
      }
    }
    @media (max-width: 280px) {
      .title {
        font-size: 8px;
      }
    }
  }

  .navigationLink {
    margin-right: 0.25em;
    background-color: white;

    &:hover {
      background-color: $grey-300;
      box-shadow: 'none';
    }

    &:active {
      box-shadow: 'none';
      background-color: $grey-400;
    }

    .navigationlink:focus {
      box-shadow: '0 0 0 0.2rem rgba(0,123,255,.5)';
    }
  }
}
