.map {
  position: relative;

  &,
  .map-base {
    width: 100%;
    height: 100%;
    background: $blue-grey-50;
  }
}

.mapbox {
  position: fixed;
  bottom: 5em;
  z-index: 2000;
  display: flex;
  align-items: flex-start;
  flex-flow: row;
  list-style: none;
  padding: 0em 1em;
  min-width: 345;

  .noUnitsText {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $light-black;
  }
}

@media (max-width: 520px) {
  .mapbox {
    position: fixed;
    bottom: 2.5em;
    z-index: 2000;
    display: flex;
    align-items: flex-start;
    flex-flow: row;
    list-style: none;
    padding: 0em 1em;
    min-width: 345;

    .counter {
      text-align: center;
      line-height: 1.5em;
      padding: 1em 1em;
      min-width: 13em;
      max-width: 22em;
      margin-right: 0.5em;
      height: 15em;
      background-color: lighten($white, 92);
      color: $dark-black;
      border-radius: 4px;
      // box-shadow: 0 2px 4px 0 $min-black;

      h1 {
        font-size: 5em;
      }
      p {
        font-size: 10px;
        color: $light-black;
      }
    }

    .info {
      text-align: center;
      max-width: 22em;
      min-width: 13em;
      min-height: 15em;

      margin-left: 0.5em;

      padding: 1em 1em;
      background-color: lighten($white, 92);
      color: $dark-black;
      border-radius: 4px;
      // box-shadow: 0 2px 4px 0 $min-black;

      .info-content {
        top: 50%;
        left: 50%;
        p {
          font-size: 20px;
        }

        .details {
          margin: 0 2em 0;
          font-size: 0.8em;
          line-height: 1em;
          color: $light-black;
        }

        .numbers {
          font-size: 5em;
          line-height: 1.1em;
          color: $red-500;
        }

        .sourceBtn {
          align-self: center;
          color: darken($map-blue, 20);
          font-size: 0.8em;
          height: 2em;
          max-width: 18em;
          background-color: $grey-50;
        }
        .sources {
          display: flex;
          flex-direction: column;

          :not(:last-child) {
            margin-bottom: 1rem;
          }
        }
        .sourceLink {
          text-decoration: none;
          color: darken($map-blue, 20);
        }
      }
    }
  }
}

button {
  .cityBtn {
    color: darken($map-blue, 20);
    font-size: 12px;
    height: 2.5em;
    background-color: $grey-50;
  }
}

.map-loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: $blue-grey-200;
  font-family: $font-default;
  width: 100%;
  height: 4em;
  line-height: 4em;
  text-align: center;
  margin: auto;
}

.map-marker {
  &[class*='shadow'] {
    filter: blur(5px);
    opacity: 0.7;
  }
}
