.toggleLogButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0px 10px 8px;

  .toggleLogButton {
    height: 2.5em;
    font-size: 11px;
    width: 10em;
  }
}

@media screen and (max-width: 500px) {
  .toggleLogButtonContainer {
    justify-content: flex-start;
  }
}
