.toggleLogButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 5px 8px;

  .toggleLogButton {
    height: 2.5em;
    font-size: 11px;
    width: 10em;
  }
}

@media screen and (max-width: 500px) {
  .toggleLogButtonContainer {
    justify-content: flex-start;
    .toggleLogButton {
      height: 2em;
      font-size: 10px;
      width: 10em;
    }
  }
}
