.switchContainer {
  position: fixed;
  top: 4em;
  left: 0.5em;
  z-index: 2000;

  .toggleViewButtonSweden {
    height: 2em;
    font-size: 12px;
    font-family: $font-default;
  }
  .toggleViewButtonWorld {
    height: 2em;
    font-size: 12px;
    font-family: $font-default;
  }
}
